.plugin-kanban-board-setting {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.plugin-kanban-board-setting .setting-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.plugin-kanban-board-setting .setting-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.plugin-kanban-board-setting .setting-header-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
}

.plugin-kanban-board-setting .setting-header-title {
  flex: 1;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 700;
}

.plugin-kanban-board-setting .btn-close {
  margin-right: -4px;
}

.plugin-kanban-board-setting .setting-body {
  padding: 14px 20px;
  overflow: auto;
  flex: 1;
}

.plugin-kanban-board-setting .setting-item {
  margin-bottom: 14px;
}

.plugin-kanban-board-setting .setting-item .title {
  margin-bottom: 10px;
}

.plugin-kanban-board-setting .split-line {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  background-color: #e2e2e2;
}

.plugin-kanban-board-setting .color-from-selector,
.plugin-kanban-board-setting .record-end-type {
  display: flex;
  height: 36px;
  flex-direction: row;
  background-color: #ffffff;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 4px;
}

.plugin-kanban-board-setting .color-from-type-item,
.plugin-kanban-board-setting .record-end-type-item {
  flex: 1 1;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  position: relative;
}

.plugin-kanban-board-setting .color-from-type-item:first-child,
.plugin-kanban-board-setting .record-end-type-item:first-child {
  border-radius: 4px 0 0 4px;
}

.plugin-kanban-board-setting .color-from-type-item:last-child,
.plugin-kanban-board-setting .record-end-type-item:last-child {
  border-radius: 0 4px 4px 0;
}

.plugin-kanban-board-setting .color-from-type-item.selected,
.plugin-kanban-board-setting .record-end-type-item.selected {
  box-shadow: 0 0 0 1px rgb(229, 161, 82);
  color: rgb(229, 161, 82);
  background-color: rgba(229, 161, 82, .1);
}

.plugin-kanban-board-setting .btn-date-range {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid hsl(0,0%,80%);;
  border-radius: 4px;
  overflow: hidden;
}

.plugin-kanban-board-setting .btn-date-range>span {
  display: inline-block;
  width: 100%;
  height: 36px;
}

.plugin-kanban-board-setting .btn-date-range .ant-calendar-picker-input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: none;
}

.kanban-setting-selector__menu .header-icon,
.plugin-kanban-board-setting .header-icon {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.kanban-setting-selector__menu .header-icon .dtable-font,
.plugin-kanban-board-setting .header-icon .dtable-font {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

.kanban-setting-selector__menu .kanban-setting-selector__option--is-selected .dtable-font {
  color: #fff !important;
}

.plugin-kanban-board-setting .null-option-name,
.kanban-setting-selector__menu .null-option-name {
  color: rgba(0, 0, 0, .25) !important;
}

.kanban-setting-selector__menu .kanban-setting-selector__option--is-selected .null-option-name {
  color: #fff !important;
}
/* column manager */
.kanban-column-setting-item {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  padding: 0 3px 0 2px;
  border-radius: 4px;
}

.kanban-column-setting-item:hover {
  background: #f0f0f0;
}

.kanban-column-setting-item.column-can-drop {
  background: #e9e9e9;
}

.kanban-column-setting-item .drag-column-handle {
  color: #c2c2c2;
  font-size: 14px;
  cursor: grab;
}

.kanban-column-setting-item .kanban-column-switch {
  flex: 1;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
}

.plugin-kanban-board-setting .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.kanban-column-setting-item .custom-switch .custom-switch-description {
  width: 165px;
  margin: 0;
  padding-right: 5px;
}

.kanban-column-setting-item .custom-switch .dtable-font {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  display: inline-block;
  line-height: 24px;
  margin-right: 8px;
  color: #666;
}

.plugin-kanban-board-setting .custom-switch .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
}

.plugin-kanban-board-setting .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.plugin-kanban-board-setting .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}

.plugin-kanban-board-setting .switch-setting-item {
  padding-right: 3px;
}
